@page "/counter"

<PageTitle>Counter</PageTitle>
<HeadContent>
    <meta name="description" content="Blazor WASM page to count a value.">
</HeadContent>

<h1>Counter</h1>

<p role="status" class="mb-4">Current count: @CurrentCount</p>

<button class="btn btn-blue" @onclick="IncrementCount">Click me</button>

@code {
    private protected int CurrentCount;

    private void IncrementCount()
    {
        CurrentCount++;
    }
}
