@page "/counter"

<HeaderComponent Title="@PageTitle" MetaTags="@MetaTags"></HeaderComponent>

<h1>Counter</h1>

<p role="status" class="mb-4">Current count: @CurrentCount</p>

<button class="btn btn-blue" @onclick="IncrementCount">Click me</button>

@code {
    private protected int CurrentCount;
    private protected string PageTitle = "Counter";
    private protected Dictionary<string, string> MetaTags = new() { { "description", "This is the counter page" } };


    private void IncrementCount()
    {
        CurrentCount++;
        PageTitle = $"Counter {CurrentCount}";
    }
}
