@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
     <table class="table w-full mt-4 text-sm">
        <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-gray-900 uppercase border-b border-gray-600">
                <th class="p-3">Date</th>
                <th class="p-3">Temp. (C)</th>
                <th class="p-3">Temp. (F)</th>
                <th class="p-3">Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr class="border-b">
                    <td class="p-3">@forecast.Date.ToShortDateString()</td>
                    <td class="p-3">@forecast.TemperatureC</td>
                    <td class="p-3">@forecast.TemperatureF</td>
                    <td class="p-3">@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts = new WeatherForecast[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("/api/WeatherForecast") ?? new WeatherForecast[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
