@page "/fetchdata"


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<ErrorBoundary @ref="MyErrorBoundary">
    <ChildContent>
        <FetchWeatherDataComponent></FetchWeatherDataComponent>
    </ChildContent>
    <ErrorContent Context="ex">
        <p class="blazor-error-boundary">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>

@code {
    private protected ErrorBoundary? MyErrorBoundary;

    protected override void OnParametersSet()
    {
        MyErrorBoundary?.Recover();
    }
}
