@page "/fetchdata"

<HeaderComponent Title="@PageTitle" MetaTags="@MetaTags"></HeaderComponent>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<ErrorBoundary @ref="MyErrorBoundary">
    <ChildContent>
        <FetchWeatherDataComponent></FetchWeatherDataComponent>
    </ChildContent>
    <ErrorContent Context="ex">
        <p class="blazor-error-boundary">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>

@code {
    private protected ErrorBoundary? MyErrorBoundary;

    private protected string PageTitle = "Fetch data";
    private protected Dictionary<string, string> MetaTags = new() { { "description", "Fetch data from an Azure Function" } };

    protected override void OnParametersSet()
    {
        MyErrorBoundary?.Recover();
    }

}
