@page "/"
@inject NavigationManager _navigationManager


<PageTitle>Index</PageTitle>
<HeadContent>
    <meta name="description" content="Blazor WASM index page.">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Azure Static Web Apps Blazor Sample" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Blazor WASM template optimized for Azure Static Web Apps, using TailwindCSS and .NET6. Come & collaborate with me!" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="@(_navigationManager.BaseUri)img/icon-192.png" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="@(_navigationManager.BaseUri)" />
    <link rel="canonical" href="@(_navigationManager.BaseUri)" />

</HeadContent>

<h1><img src="img/icon-192.png" alt="" class="mr-5 inline-block" height="96"> Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    // https://github.com/joshbuchea/HEAD
    private protected string Description = "Description set by component";
    private protected string Title = "Title set by component";
}