<div class="top-row ps-3 navbar navbar-dark">
    <div class="flex relative text-center">
        <a class="pt-3 text-1xl tracking-wider text-white uppercase font-bold self-center content-center text-center w-full" href="">Static Web Apps</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
               <i class="material-icons-outlined text-base h-6 w-6 mr-4 ml-3">home</i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <i class="material-icons-outlined text-base h-6 w-6 mr-4 ml-3">add</i> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <i class="material-icons-outlined text-base h-6 w-6 mr-4 ml-3">table_chart</i> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
