<div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 mt-4 px-4 py-3 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1">
        <svg class="fill-current h-6 w-6 text-green-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
        </svg>
        </div>
    <div>
      <p class="font-bold">@Title</p>
      <p class="text-sm"> Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
        and tell us what you think.
       </p>
    </div>
  </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
