<div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 mt-4 px-4 py-3 shadow-md" role="alert">
    <div class="flex">
        <div class="py-1 fill-current h-6 w-6 mr-4 text-green-500">
            <i class="material-icons-outlined text-base">edit</i>
        </div>
        <div>
            <p class="font-bold">@Title</p>
            <p class="text-sm">
                Please take our
                <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
                and tell us what you think.
            </p>
        </div>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
